<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Game Size</title>
</head>
<body>
    <h1>Create a boggle board of N*N size</h1>
    <h2>N should be between 1 to 10</h2>
    <form action="/boggle-game" method="post">
        <input id="board-size" placeholder="Enter the size of the board" name="board-size">
        <button id="submit-btn">Submit</button>
    </form>
</body>
</html>